/* header.component.css */
.sidenav {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-open {
  width: 100%;
  text-align: center;
}

.sidenav-item {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;

  color: #818181;
  display: block;
  transition: 0.3s;
}



.sidenav-item:hover {
  color: #f1f1f1;
}

.logo {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;

  margin: 10% 0;

  color: #818181;
  display: block;
  transition: 0.3s;
}

.logo:hover {
  color: #f1f1f1;
}

.closeButton {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;

  margin: 10% 0;

  color: #818181;
  display: block;
  transition: 0.3s;
}

.closeButton:hover {
  color: #f1f1f1;
}

.toggle-nav-btn {
  position: absolute;
  top: 0;
  left: 0;
  /*right: 20px;
    font-size: 36px;*/
  margin-left: 40px;
}



/* media query for large screens */
@media screen and (min-width: 768px) {
  .sidenav {
    width: 22%;
  }

  .sidenav-open {
    width: 22%;
  }

}