.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #E1306C;
  color: white;
  margin-right: 50px;
}