<div class="offcanvas offcanvas-start" id="demo" style="background-color:#656d56 ;">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
      style="margin-left:92%; margin-top:5px; "></button>
  </div>

  <div class="nav-items">
    <a routerLink="main" [routerLinkActive]="['active']" class="nav-link">Home</a>
    <a routerLink="products" [routerLinkActive]="['active']" class="nav-link">Product Categories</a>
  </div>

</div>


<button class="button" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
  <i class="fa fa-bars"></i>
</button>

<a routerLink="" class="logo">
  <img src="assets/logo/ayna.jpg" alt="Ayna" width="120px" height="80px" style="margin-top:20px; margin-bottom:20px;">
</a>