<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Heading</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <a routerLink="" data-bs-dismiss="offcanvas">Home</a><br>
      <a routerLink="products" data-bs-dismiss="offcanvas">Product Catrgories</a><br>
      <button class="btn btn-secondary" type="button">A Button</button>
    </div>
  </div>

 
    <button  type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" >
        <i class="fa fa-bars"></i>

    </button>
    <p align="center"> This is nav bar for Ayna</p>
 
