<div class="container-fluid border border-dark ">


    <div class="fixed-bg-image">
        <div class="one-stop-solution border border-dark ">
            <div class="title">
                One stop for all your manufacturing needs!
            </div>
            <div class="subtitle">
                Our expertise lies in curating and producing fashion apparel and accessories for multiple brands based
                in the US and EU.
            </div>
            <a href="mailto:vibhu@gmail.com">
                <button class="button button1">CONTACT US</button>
            </a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12 w-100 "
            style="margin-top:40px; text-align: center; font-size: large; font-weight: bold; margin-bottom: 40px; color:#656d56">
            ABOUT US </div>

    </div>

    <!--Home Row img left-->
    <div class="row">
        <div class="col-12 col-md-6 ">
            <div class="home-img" style="background-image: url(/assets/images/design.jpg);">

            </div>
        </div>
        <div class="col-12 col-md-6 home-content">
            <div class="home-item-title">Design</div>
            <p style="letter-spacing: normal; font-size: 18px; color:#656d56 ">We create the collections as artistic
                works
                which are suitable for all tastes and needs to our valuable customers with our vision turning wearing to
                art
                with the experts in their fields. </p>
        </div>
    </div>
    <br />
    <!--Home row End-->

    <!--Home Row img right-->
    <div class="row">

        <div class="col-12 col-md-6 home-content">
            <div class="home-item-title">Pattern & sampling</div>
            <p style="letter-spacing: normal; font-size: 18px; color:#656d56; ">The designs made in all sizes and forms
                in
                the computer environment with support of the technology, are made as patterns after the final approvals,
                and
                the prototype of the model is made with the materials to be used for the model. </p>
        </div>

        <div class="col-12 col-md-6 ">
            <div class="home-img" style="background-image: url(/assets/images/cutting.jpg);">

            </div>
        </div>
    </div>
    <br />
    <!--Home row End-->

    <!--Home Row img left-->
    <div class="row">
        <div class="col-12 col-md-6 ">
            <div class="home-img" style="background-image: url(/assets/images/printing.jpg);">

            </div>
        </div>
        <div class="col-12 col-md-6 home-content">
            <div class="home-item-title">Printing & Embroidery</div>
            <p style="letter-spacing: normal; font-size: 18px; color:#656d56 ">We take advantage of computer system in
                printing & embroidery area. Our machines allowing conduct of more than one process at the same time
                makes the production faster with the best quality results. </p>
        </div>
    </div>
    <br />
    <!--Home row End-->

    <!--Home Row img right-->
    <div class="row">

        <div class="col-12 col-md-6 home-content">
            <div class="home-item-title">Cutting & Sewing</div>
            <p style="letter-spacing: normal; font-size: 18px; color:#656d56; ">Our production line equipped with the
                cutting-edge equipments technology. <br>

                We are meeting each of the needs and expectations at the best quality level and supporting all printing
                and sewing types </p>
        </div>

        <div class="col-12 col-md-6 ">
            <div class="home-img" style="background-image: url(/assets/images/cutting.jpg);">

            </div>
        </div>
    </div>
    <br />
    <!--Home row End-->

    <!--Home Row img left-->
    <div class="row">
        <div class="col-12 col-md-6 ">
            <div class="home-img" style="background-image: url(/assets/images/finishing.jpg);">

            </div>
        </div>
        <div class="col-12 col-md-6 home-content">
            <div class="home-item-title">Finishing</div>
            <p style="letter-spacing: normal; font-size: 18px; color:#656d56 ">Products shall be subject to cleaning,
                ironing and interim controls before packaging as per the requests and expectations. </p>
        </div>
    </div>
    <br />
    <!--Home row End-->

    <!--Home Row img right-->
    <div class="row">

        <div class="col-12 col-md-6 home-content">
            <div class="home-item-title">Packaging & Delivery</div>
            <p style="letter-spacing: normal; font-size: 18px; color:#656d56; ">We are capable of offering both
                flat-pack and on- hanger shipments.Cutting Our production line equipped with the cutting-edge equipments
                technology. Washing Conducting all washing models and type as per the trends and export requirements.
            </p>
        </div>

        <div class="col-12 col-md-6 ">
            <div class="home-img" style="background-image: url(/assets/images/packing.jpg);">

            </div>
        </div>
    </div>
    <br />
    <!--Home row End-->

    <br /><br />

    <!--Keep in touch-->
    <div class="row">
        <div class="col-12 w-100 " style="height:400px;">
            <div class="touch">
                <div class="touch-title">
                    Keep in Touch
                </div>

                <form>
                    <div *ngIf="!thankyou">
                        <p style="letter-spacing: normal; font-size: 18px; color:#656d56; ">Be the first to hear about
                            upcoming sales, hot
                            trends, and new designs.</p>
                        <div class="form-group  align-items-center">

                            <input type="email" class="form-control email" id="email" required placeholder="Email">
                            <div class="valid-feedback ml-2">Valid email</div>
                            <div class="invalid-feedback ml-2">Invalid email</div>
                            <button type="submit" class="button button2 ml-2" (click)="submitForm()"> SIGN UP
                            </button>
                        </div>
                    </div>
                </form>
                <div *ngIf="thankyou" class="text-center mt-3 ">
                    <br>
                    <h4 style="color:#656d56">Excellent! We're excited to send you our next update.</h4><br>
                    <p style="letter-spacing: normal; font-size: 18px; color:#656d56; ">

                        To let us know it's really you and that you'd like to receive emails from us, please click the
                        link
                        in the confirmation email we just sent you. You can unsubscribe from these emails at any time.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!--Keep in touch end-->

    <!--Contact Us-->

    <div class="row">
        <div class="col-12 col-lg-6" style=" color:black;">


            <div class="contact-section">
                <br /><br />
                <h5 style="color:#656d56; font-weight: bold;" id="contact-title">CONTACT US</h5><br />

                <p id="contact-heading">We love to hear from our customers!</p><br />

                <p>Do you have a question or concern? Are you looking for something in our shop? Let us know! We will
                    get back to you as soon as possible with an answer.</p><br />


                <a href="https://wa.me/918171817381?text=Hello%20I%20have%20a%20question%20about%20your%20products."
                    target="_blank" class="btn wp-btn">
                    <span class="whatsapp-icon"></span> &nbsp; <span
                        style=" font-size:16px; font-weight: bold; letter-spacing: 1px;  ">
                        Message us on WhatsApp</span>
                </a> <br /><br />


                <p>Amba Industries, Block C, Industrial Area, Bulandshahr Road Industrial Area, Ghaziabad, Uttar
                    Pradesh, India</p><br />

                <p>Contact@aynafashionindustry.com</p><br />
            </div>

        </div>

        <div class="col-12 col-lg-6 col-lg-6 col-xl-6 ">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.4353079982898!2d77.25114531502163!3d28.586714982435975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce30f4ac3df01%3A0xce443a18b2a7fd51!2sNizamuddin%20Railway%20Station!5e0!3m2!1sen!2sin!4v1675183375064!5m2!1sen!2sin"
                class="w-100 map-class" style="border:0; " allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

    <!--Contact Us Ends-->
    <br /><br />

    <!--Social-->

    <div class="row">
        <app-social></app-social>
    </div>


    <br /><br />
    <!--Social End-->

    <div class="row">
        <app-footer></app-footer>
    </div>

</div>