<!-- <div class="sidebar border border-dark  d-none d-lg-block float-start">
    <P>This is a side bar</P>
</div> -->

<!-- color is #656d56 accent is #ddd7c6 -->

<div class="sidebar ">
  
        <div class="nav-items">
            <a routerLink="" [routerLinkActive]="['active']" class="nav-link">
                <img src="assets/logo/ayna.jpg" alt="Ayna" width="160px" height="120px" style="vertical-align:middle; margin:80px 0;">
            </a>
            <a routerLink="main" [routerLinkActive]="['active']" class="nav-link" >Home</a>
            <a routerLink="products" [routerLinkActive]="['active']" class="nav-link">Product Categories</a>
          </div>
</div>