.border-black {
    border-style: solid;
}

.sidebar {
  
    height: 100%;
   

}

.nav-items {
    margin-left: 20px;
    position: fixed;
    font-size: 18px;
    text-align: justify;
}

.nav-link {
    margin-bottom: 10px;
    display: block;
    color: #656d56;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
   
    color: #939989;
    cursor: pointer;
}

.active {
    font-weight: bold;
}